/* Utopia variables, fluid responsive design */

/* @link https://utopia.fyi/type/calculator?c=330,18,1.067,1240,20,1.25,3,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --step--1: clamp(1rem, calc(1.07rem + -0.1vw), 1.05rem);
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.2rem, calc(1.07rem + 0.64vw), 1.56rem);
  --step-2: clamp(1.28rem, calc(1.04rem + 1.18vw), 1.95rem);
  --step-3: clamp(1.37rem, calc(0.98rem + 1.89vw), 2.44rem);
}

/* Space @link https://utopia.fyi/space/calculator?c=330,18,1.067,1240,20,1.25,3,0,&s=,1.5|2|3,s-l&g=s,l,xl,12 */
:root {
  --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
  --space-l: clamp(2.25rem, calc(2.16rem + 0.44vw), 2.5rem);
  --space-xl: clamp(3.38rem, calc(3.24rem + 0.66vw), 3.75rem);

  /* One-up pairs */
  --space-s-m: clamp(1.13rem, calc(0.85rem + 1.32vw), 1.88rem);
  --space-m-l: clamp(1.69rem, calc(1.39rem + 1.43vw), 2.5rem);
  --space-l-xl: clamp(2.25rem, calc(1.71rem + 2.64vw), 3.75rem);

  /* Custom pairs */
  --space-s-l: clamp(1.13rem, calc(0.63rem + 2.42vw), 2.5rem);
}

/* Grid @link https://utopia.fyi/grid/calculator?c=330,18,1.067,1240,20,1.25,3,0,&s=,1.5|2|3,s-l&g=s,l,xl,12 */
:root {
  --grid-max-width: 77.5rem;
  --grid-gutter: var(--space-s-l, clamp(1.13rem, calc(0.63rem + 2.42vw), 2.5rem));
  --grid-columns: 12;
}

/* Colour */
:root {
  color-scheme: light dark;
  --bg-color: canvas;
  --txt-color: canvastext;
  --lnk-color: linktext;
}

/* Global styles */
html,
body {
  height: 100%;
}

body {
  /* Typography */
  font-family: "Inter", sans-serif;
  line-height: 1.4;
  font-size: var(--step-0);
  font-weight: 400;
  /* Colour */
  background: var(--bg-color);
  color: var(--txt-color);
}

main {
  /* Layout */
  height: 100%;
  max-width: var(--grid-max-width);
  padding: var(--grid-gutter);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-xl);
}

/* Line lengths */
p,
h1,
h2,
h3 {
  max-width: 50ch;
}

/* Headings */
h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

/* Links */
a {
  color: var(--lnk-color);
}

a:hover,
a:focus {
  text-decoration: none;
}
